<!--SDPX-License-Identifier: MIT-->
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <title>App</title>
</head>
<body>
<div class="center">
    <h3>Please Enter your Email and Password to Login</h3>
    <form method="post" action="/api/user/login">
    <label for="user_email"><b>Email: </b></label><br>
    <input type="text" id="user_email" name="user_email" class="dto"><br>
    <label for="user_password"><b>Password: </b></label><br>
    <input type="password" id="user_password" name="user_password" class="dto"><br><br>
    <button id="submit"  type="submit"  value="submit" >Submit</button>
    </form>
    <button id="btn_back" onclick="location.href = 'http://localhost:8081/api/discovery/issuer';" class="button backButton">Back to Discovery</button><br><br>
    {{result}}
</div>
</body>
</html>
