<!--SDPX-License-Identifier: MIT-->
<!--SDPX-FileCopyrightText: 2022 Sarah Julia Kriesch <sarah.j.kriesch@fau.de>-->
<!--SDPX-FileCopyrightText: 2022 Michael Kupfer <michael.kupfer@fau.de>-->
<!DOCTYPE html>
<html>
<head>
    <title>OIDC Doctor - Start</title>
    <link rel="icon" href="/images/logo-amos.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
     .b-divider {
        height: 5rem;
        background-color: rgba(0, 0, 0, 0);
     }
     </style>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <span class="me-2"></span>
            </a>

            <a href="/api/protocol/logger" class="nav col-12 col-md-auto mb-2 mb-md-0 text-decoration-none">
                <span class="btn btn-outline-secondary me-2">Protocol</span>
            </a>

            <a class="col-md-3 text-end">
                <span class="btn me-2"></span>
            </a>
        </header>
    </div>
    <div class="container">
        <div class="row row-cols-1 justify-content-center g-2">
            <div class="b-divider">
            </div>
            <div class="col-6" margin-top="100">
                <center>
                    <img class="img-responsive" src="/images/logo-amos.png" alt="Chania" width="320" height="200" />
                </center>
            </div>
            <div class="col justify-content-center">
                <form action="/api/discovery/issuer/find" method="post">
                    <div class="d-flex flex-row justify-content-center">
                        <label for="issuer" class="mx-4 col-form-label" >Issuer: </label>
                        <input type="text" id="issuer_url" class="col-sm-4" name="issuer_url" aria-label="Issuer input with dropdown button" title="Input your issuer here" data-bs-toggle="tooltip" data-bs-placement="top" placeholder="Input your issuer here" aria-placeholder="Input your issuer here"/>
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" data-issuer_url="https://accounts.google.com" onclick="setAsInput(this)">Google</a></li>
                        </ul>
                    </div>
                    <div class="pt-2 d-flex flew-row justify-content-center">
                        <button class="btn btn-outline-dark" type="submit">Examine</button>
                    </div>
                    <div class="pt-2 d-flex flew-row justify-content-center">
                        <small>Already have a token? Click <a href="/api/token/decode">here</a> to decode it.</small>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function setAsInput(element) {
            if (element === undefined) {
                return false;
            }

            let issuer = element.dataset.issuer_url

            let inputElement = document.getElementById('issuer_url');
            inputElement.value = issuer;

            return true;
        }
    </script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)});  
    </script>
</body>
</html>
